

body {
    background: linear-gradient(45deg, #3c40c6 0%, #6d57cf 100%);
    padding: 0;
    margin: 0
}

.configuration {
    background-color: #3148AD;
    padding: 30px;
    text-align: center;
}

.configuration input {
    padding: 15px;
    border: none;
    margin-right: 1px;
    width: 150px;
}

.form-grid-size {
    border-radius: 10px 0 0 10px;
}
.form-pixel-size {
    padding: 15px;
    border: none;
    margin-right: 1px;
    width: 150px;
}

.form-submit {
    padding: 15px;
    background-color: #9B68E4;
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
}

#invader {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    padding: 0;
    margin: 0;
}

.pixel {
    background-color: #ccc;
    margin: 1px;
}
.black {
    background-color: black;
}

.color-picker {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.color {
    width: 20px;
    height: 20px;
    border: 2px solid #444 ;
    margin: 10px 2px;
    border-radius: 50%;
    background-color: #fff;
}

.selected {
    transform: scale(1.2);
}

.pixel--empty {
    background-color: #ccc;
}

.pixel--plain {
    background-color: #333;
}

.pixel--light {
    background-color: #FBC048;
}

.pixel--highlight {
    background-color: #79EA83;

}